<%= bootstrap_form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
  <div class = "w-75 p-3">
    <div class="alert alert-danger">
      <h6><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h6>

      <ul>

      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
 <div class = "w-75 p-3">
 <div class="container" style = "background:white">
  <div class="container-fluid", style= "margin-left:4px">
<br>
<div class="box">
  <form role="form" action="/employees" accept-charset="UTF-8" method="post"  >
    <div class="form-row">
      <div class="form-group col-md-6">
      <div class="field">
        <div class="form-group row">
       <%= form.label :employee_name,class: :"col-sm-5 col-form-label" %>
        <%= form.text_field :employee_name, id: :employee_employee_name,class: :"form-control ",hide_label: true , :required => true%>
      </div>
    </div>
 </div>

 <div class="form-group col-md-6">
  <div class="field">
    <div class="form-group row">
      <%= form.label :email_id,class: :"col-sm-5 col-form-label" %>
      <%= form.text_field :email_id, id: :employee_email_id,class: :"form-control ",hide_label: true, :required => true  %>
    </div>
  </div>
</div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
  <div class="field">
    <div class="form-group row">
      <%= form.label :age,class: :"col-sm-5 col-form-label" %>
      <%= form.number_field :age, id: :employee_age,class: :"form-control ",hide_label: true, :required => true  %>
    </div>
  </div>
</div>
<div class="form-group col-md-6">
 <div class="field">
   <div class="form-group row">
    <%= form.label :gender,class: :"col-sm-5 col-form-label" %>
        <div class="form-check form-check-inline">
    &nbsp&nbsp<%= form.radio_button 'gender','Male', :required => true %>
      <%= form.radio_button 'gender','Female' , :required => true%>
        </div>
  </div>
  </div>
</div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
  <div class="field">
    <div class="form-group row">
      <%= form.label :desgination,class: :"col-sm-5 col-form-label" %>
      <%= form.text_field :desgination, id: :employee_desgination,class: :"form-control " ,hide_label: true , :required => true%>
    </div>
  </div>
</div>
<div class="form-group col-md-6">
<div class="field">
  <div class="form-group row">
    <%= form.label :project_name,class: :"col-sm-5 col-form-label" %>
    <%= form.select :project_name, options_for_select(@projects.collect{|e|["#{e.project_name}", e.project_name]},:selected => form.object.project_name),{prompt: "Select", hide_label: true, :required => true} %>

  </div>
  </div>
</div>
</div>
<div class="actions", style= "margin-left : 220px;">
    <%= form.submit  class: "btn btn-info btn-sm",  style: "font-weight: bold; margin-bottom:10px"%>
    <%= link_to "Back", employees_path,  class: "btn btn-secondary btn-sm", style: "margin-left: 20px; margin-bottom:10px; font-weight: bold;" %>

  </div>
</form>
</div>
</div>
</div>
</div>

<% end %>
