<div class="container" >
  <p id="notice"><%= notice %></p>
<center><h6><b>Employee Detail</b></h6></center>
 <div class = "w-50 p-3">
<div class ="container" , style= "margin-left : 255px;" >
      <table class="table table-borderedless">

    <tbody>

      <tr>

          <th>Employee Name:</th>
          <td ><%= @employee.employee_name %><td>

      </tr>
      <tr>

          <th>EmailID:</th>
          <td ><%= @employee.email_id %><td>

      </tr>
      <tr>
          <th>Age:</th>
          <td>  <%= @employee.age %></td>
      </tr>

      <tr>
          <th>Gender:</th>
          <td>  <%= @employee.gender %></td>
      </tr>

      <tr>
          <th>Desgination:</th>
          <td>  <%= @employee.desgination %></td>
      </tr>
      <tr>
          <th>Project Name</th>
          <td>  <%= @employee.project_name %></td>
      </tr>
      </tbody>
  </table>
  <br>

<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-info btn-sm", style: "font-weight: bold; margin-left: 150px" %>
<%= link_to 'Back', employees_path, class: "btn btn-secondary btn-sm", style: "margin-left: 25px; font-weight: bold;" %>
</div>
</div>
</div>
