
<div class="container" >

<br>
  <p id="notice"><%= notice %></p>
<center><h6>Employee Detail</h6></center>
<br>

<div class ="container" , style= "margin-left : 120px;" >
      <table class="table table-borderedless",style= "width: 50px;">

    <tbody>

      <tr>

          <th>Employee Name:</th>
          <td ><%= @employee.employee_name %><td>

      </tr>
      <tr>
          <th>Age:</th>
          <td>  <%= @employee.age %></td>
      </tr>

      <tr>
          <th>Gender:</th>
          <td>  <%= @employee.gender %></td>
      </tr>

      <tr>
          <th>Desgination:</th>
          <td>  <%= @employee.desgination %></td>
      </tr>
      </tbody>
  </table>
  <br>

<%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-info btn-sm" %>
<%= link_to 'Back', employees_path, class: "btn btn-secondary btn-sm", style: "margin-left: 20px;" %>
</div>
</div>
