<div class="container" >

  <b><p id="notice"><%= notice %></p></b>
<center><h6><b>Project Detail</b></h6></center>
<div class = "w-50 p-3">
<div class ="container" , style= "margin-left : 255px;" >
      <table class="table table-borderedless">

    <tbody>


<tr>
  <th>Project name:</th>
  <td><%= @project.project_name %></td>

 </tr>
<tr>
  <th>Client:</th>
  <td><%= @project.client %></td>

</tr>
<tr>
  <th>Location:</th>
  <td><%= @project.location %></td>
</tr>

<tr>
  <th>Team size:</th>
  <td><%= @project.team_size %></td>
</tr>

<tr>
  <th>Start date:</th>
  <td><%= @project.start_date %></td>
</tr>

<tr>
  <th>End date:</th>
  <td><%= @project.end_date %></td>
</tr>

<tr>
  <th>Cost:</th>
  <td><%= @project.cost %></td>
</tr>
</tbody>

</table>
<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info btn-sm",style: "font-weight: bold; margin-left: 150px" %>
<%= link_to 'Back', projects_path, class: "btn btn-secondary btn-sm",style: "margin-left: 25px; font-weight: bold;"%></div>
</div>
</div>
